@using KursKayir.Data

@model Kurs

<div class="orta-div">
    <p>
        <b>@Model.KursBaslik </b> isimli kursu silmek istiyor musunuz.

        <form asp-action="Delete" method="post">
            <input type="hidden" value="@Model.KursID" name="id" />
            <button type="submit" class="btn btn-danger">Evet</button>
            <button type="submit" class="btn btn-primary">Hayir</button>
        </form>
    </p>

</div>

<style>
    .orta-div {
        width: 50%; /* Sayfanın genişliğinin yarısı kadar genişlik */
        margin: 27%; /* Dikey hizalama için margin kullanarak otomatik olarak ortalamak */
        padding: 20px; /* İçerik ile kenar arasında boşluk bırakmak için */
        border: 1px solid #ccc; /* Kenarlık eklemek */
        border-radius: 10px; /* Kenar yuvarlaklığı */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Gölge efekti */
        background-color: #fff; /* Arka plan rengi */
    }

</style>

